{% extends 'base/base.html' %}

{% block title %}
    House Pricing
{% endblock %}

{% block one %}
    layui-this
{% endblock %}

{% block main_body %}
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-md10 layui-col-md-offset1">
                {% if session.get('user') == None %}
                    <h1 style="padding: 15px;">您尚未登录</h1>
                {% else %}
                    <h1 style="padding: 15px;">{{ session.get('user') }} 已登录</h1>
                {% endif %}
                {{ house_map|safe }}
            </div>
        </div>
    </div>
{% endblock %}


{% if session.get('user') != None %}
    {% block own_js %}
        <script>
            layui.use([], function () {
                let $ = layui.$;

                $('#logout').on('click', function () {
                    window.location.replace('/logout')
                })

            })
        </script>
    {% endblock %}
{% endif %}
